.rotate {
    animation: rotate 15s linear infinite;
    stroke-dasharray: 103 360;
    transform-origin: 50% 50%;
    transform: rotate(30deg);
}

@keyframes rotate {
    0%   { stroke-dasharray: 0   360; rotate: 0; }
    20%  { stroke-dasharray: 0   360; rotate: 0; }
    40%  { stroke-dasharray: 75  360; rotate: 30; }
    60%  { stroke-dasharray: 75  360; rotate: 30; }
    80%  { stroke-dasharray: 0   360; rotate: 0; }
    100% { stroke-dasharray: 0   360; rotate: 0; }
}

.up {
    transform-origin: 45% 50%;
    animation: up 15s linear infinite;
}

@keyframes up {
    0%   { transform-origin: 50% 50%;transform: translate( 0 ,   0  ) rotateY(90deg); }
    10%  { transform-origin: 50% 50%;transform: translate( 0 ,   0  ); }    
    20%  { transform-origin: 50% 50%;transform: translate( 0 , -15px); }
    40%  { transform-origin: 45% 50%;transform: translate(5px, -15px); }
    60%  { transform-origin: 45% 50%;transform: translate(5px, -15px); }
    80%  { transform-origin: 45% 50%;transform: translate(5px, -15px) rotateY(90deg); }
    100% { transform-origin: 45% 50%;transform: translate(5px, -15px) rotateY(90deg); }
}

.down {
    transform-origin: 55% 50%;
    animation: down 15s linear infinite;
}

@keyframes down {
    0%   { transform-origin: 50% 50%; transform: translate( 0  ,  0  ) rotateY(90deg); }
    10%  { transform-origin: 50% 50%; transform: translate( 0  ,  0  ); }
    20%  { transform-origin: 50% 50%; transform: translate( 0  , 15px); }
    40%  { transform-origin: 55% 50%; transform: translate(-5px, 15px); }
    60%  { transform-origin: 55% 50%; transform: translate(-5px, 15px); }
    80%  { transform-origin: 55% 50%; transform: translate(-5px, 15px) rotateY(90deg); }
    100% { transform-origin: 55% 50%; transform: translate(-5px, 15px) rotateY(90deg); }
}

.extend {
    transform-origin: 50% 50%;
    animation: extend 15s linear infinite;
}

@keyframes extend {
    0%   { transform: scaleY(1); }
    20%  { transform: scaleY(2); }
    40%  { transform: scaleY(2); }
    60%  { transform: scaleY(2); }
    80%  { transform: scaleY(2) rotateY(90deg); }
    100% { transform: scaleY(2) rotateY(90deg); }
}

.extend2 {
    transform-origin: 50% 50%;
    animation: extend2 15s linear infinite;
}

@keyframes extend2 {
    0%   { transform: scaleX(0); }
    20%  { transform: scaleX(0); }
    40%  { transform: scaleX(1); }
    60%  { transform: scaleX(1); }
    80%  { transform: scaleX(1) rotateY(90deg); }
    100% { transform: scaleX(1) rotateY(90deg); }
}